<!DOCTYPE html>
<html>
<head>
	<title>客服聊天界面</title>
</head>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.10.2.js"></script>
<style>
	body{font-size: 16px;color: #000;font-family: "微软雅黑";}
	.body{width: 960px;height: 100%;margin: 0 auto;padding-left:20%;padding-top: 5%;}
	.content{width: 560px;height: 350px;float: left; border: 1px solid #ccc;}
	.shuru{width: 560px;height: 80px;background: yellow;float: left;margin-top: 20px;}
	.send_msg{width: 560px;height: 35px;border-color: none;background: #3399CC;color: #fff;margin-top: 10px;}
	.top{width: 960px;height: 50px;margin: 0 auto;text-align: center;font-size: 18px;}
</style>
<script>
	//展示用户向客服发送的消息
	function showMsg(msg){
		//console.log(msg);
		//var obj = JSON.parse(msg);
		var obj = eval(msg);
		//console.log(obj);
		$(".content").append(obj.user_name+":"+obj.content+'\n');
	}

	//客服向用户发送消息
	function kefu_send_msg(){
		var content = $("#kefu_msg").val();
		if(content == ''){
			alert('发送消息不能为空');
		}else{
			$.post("{:url('home/Kefu/kefu_send_msg')}",{'content':content},function(msg){
				var obj = JSON.parse(msg);
				$(".content").append(obj.user_name+":"+obj.content+'\n');
				$("#kefu_msg").val('');
			})
		}
	}
</script>
<body>
<div class="body">
	<iframe src="{:url('Home/Kefu/kefu_server')}" width="0" height="0" frameborder="0"></iframe>
	<div class="top">客服聊天界面</div>
	<textarea class="content"></textarea>
	<div class="shuru">
		<textarea id="kefu_msg" style="width:555px;height:80px;" name="content"></textarea>
	</div>
	<button class="send_msg" onclick="kefu_send_msg()">发送</button>
</div>
</body>
</html>