<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/admin/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css">
<script src="__PUBLIC__/admin/js/jquery.js"></script>
<script src="__PUBLIC__/admin/js/pintuer.js"></script>
<script src="__PUBLIC__/admin/js/layer.js"></script>

</head>
<body>
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 分类列表</strong></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="{:url('admin/Categorys/add_category')}"> 添加分类</a> </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="100" style="text-align:left; padding-left:20px;">ID</th>
        <th>分类名</th>
        <th>描述</th>
        <th width="310">操作</th>
      </tr>
				{volist name="list" id="va"}
        <tr>
          <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" value="" />{$va.cid}</td>
          <td width="10%">{$va.cname}</td>
          <td width="10%">{$va.descripiton}</td>
          <td>
          	<div class="button-group"> 
          		<a class="button border-main" title="编辑" href="{:url('admin/Categorys/edit_category',array('cid'=>$va['cid']))}"><span class="icon-edit"></span>修改</a>
          		<a class="button border-main" href="{:url('admin/Categorys/del_category',array('cid'=>$va['cid']))}"><span class="icon-edit"></span>删除</a>
          	</div>
          </td>
        </tr>
				{/volist}
    </table>
  </div>
</body>
</html>