<html>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>生成二维码js</title>
    <meta name="Keywords" content="yalu" />
    <meta name="Description" content="yalu" />
	<script type="text/javascript" src="/tpl/Home/Public/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/tpl/Home/Public/js/jquery.qrcode.min.js"></script>
	
	<body>
		<div id="code"></div>
	</body>
	<script type="text/javascript">
		$('#code').qrcode("http://www.yuqingyong.cn/index.php/Home/Index/code?u=2&z=8");
	</script>
</html>